.background {
  @apply fixed top-0 left-0 -z-50 h-screen w-screen bg-black bg-[length:3em_3em];
  background-image: linear-gradient(rgba(82 82 91) 0.01em, transparent 0.1em),
    linear-gradient(90deg, rgba(82 82 91) 0.01em, transparent 0.1em);
}
